.menu_wrap {
    position: relative;
    margin-left: auto;
}
.menu_box {
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px;
    position: absolute;
    top: 120%;
    right: 0;
    width: 150px;
    display: none;
    z-index: 1000;
}
.menu_choice {
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 5px 10px;
    cursor: pointer;
    color: #000000;
}
.menu_choice:hover {
    background-color: #EEEEEE;
}

.gm_btn, .tm_btn {
    float: right;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-family: sans-serif;
}